//
//  Debug.xcconfig
//  TheMostPopularAPI
//
//  Created by Eva Gonzalez Ferreira on 30/12/21.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

API_URL = https:/$()/api.nytimes.com/svc/mostpopular/v2
API_KEY = 2bB0BGGe2pysadVQorASzqyClBzI5w1G
